.principal-contenedor{
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	align-items: center;
	flex-direction: column;
	background: rgb(191 156 57);
}


.contenedor{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background: #ff00001f;
	border: 2px solid white;
	width: 40em;
	height: 40em;
}
