*{
	padding: 0;
	margin: 0;
	font-family: agency FB;
}

h1{
	color: #fafafa;
	font-size: 3em;
	text-shadow: 0 0 0.3em #000;
}

h6{
	color: #fafafa;
	font-size: 1.3em
}

.version{
	font-size: 2em;
	right: 0;
	bottom: 0;
}

.boton{
	outline: none;
	user-select: none;
	color: #fafafa;
	width: 50%;
	text-align: center;
	font-size: 2em;
	font-weight: 700;
	padding: .5em;
	background: #0000000f;
	border: 2px solid white;
	transition: background 0.5s,border-radius 0.5s;
	border-radius: 2%;
	text-shadow: 0 0 0.3em #4448;

}

.boton:hover{
	cursor: pointer;
	background: #0000008f;
}


.inicio{
	position: absolute;
	font-size: 1.7em;
	left: .5em;
	top: .5em;
	width: 1.7em;
	color: #fafafa;
	text-shadow: 0 0 0.3em #000;
	text-align: center;
}

.niveles{
	top: 1.7em
}

.modal{
	z-index: 100;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: #00000080;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-caja{
	width: 40%;
	background: rgb(141 118 52);
	border: 2px solid #fafafa;
	height: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.modal-caja p{
	color: #fafafa;
	font-size: 2em;
	text-align: center;
}

.modal-caja .boton{
	padding: .2em;
}

.aparecer{
	display: flex;
	animation: aparecer 0.4s linear forwards;
}

.desaparecer{
	display: none;
	animation: desaparecer 0.4s linear forwards;
}

@keyframes aparecer{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes desaparecer{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

