body{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgb(191 156 57);
}

.contenedor{
	background: #ff00001f;
	border: 2px solid white;
	width: 40em;
	padding: 1em;

	display: flex;
	flex-direction: column;
	align-items: center;
	grid-gap: 1em;
}

#contenedor-niveles{
	display: flex;
	flex-wrap: wrap;
	grid-gap: 0.5em;
	justify-content: center;
	width: 90%;
}

.btn-nivel{
	position: relative;
	width: 40%;
	font-weight: 100;
	font-size: 1.5em;
	word-wrap: break-word;
}

.btn-nivel p{
	position: absolute;
	width: 100%;
	height: 100%;
	margin: auto;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	word-break: break-all;
}

.botones-nivel{
	box-sizing: border-box;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-between;
	align-items: center;
	opacity: 0;
	transition: opacity 0.5s;
}

.botones-nivel:hover{
	opacity: 1;
}

.botones-nivel i{
	position: relative;
	width: 1em;
}